*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: white;  
 	margin: 0;
  padding: 0;  
}

/* Position the logo for login page*/
.logo_login{
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 200px;
}

h1{
 	font-size: 50px;
  color: #27251F;
  margin: 20px 40px 0px 40px;
}

/* Login Box */
.box{
  background: white;
  width: 400px;
  border-radius: 10px;
  margin: 0 auto 0 auto;
  padding: 0px 0px 100px 0px;
  border: #046A38 4px solid; 
  text-align: center;
}

/* Login Button */
.login{
 	background-color: #046A38;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
 	margin: 4px 2px;
  cursor: pointer;
}

.signup{
	text-align: center;
	color: lighten(@blue, 10%);  
}

/* ----------- Navigation ---------- */
.logo{
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 200px;
}

.container{
  width: 100%;
  height: 85px;
}

.top_nav{
  width: 100%;
  padding: 8px 0px;
  text-align: center;  
  background-color: beige;

}

.top_nav ul li{
  display: inline-block;
  margin: 8px 30px;
  list-style-type: none;
}

nav a{
  color: #444;
  text-decoration: none; 
  text-transform: uppercase;
}

nav a:hover{
  color: darkgray;
}




